html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #1E1E1E;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 5fr 2fr 2fr 2fr;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.messages {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.messages2 {
  grid-column: 1 / span 3;
  grid-row: 6;
}

.rev_lights {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.centre_disp {
  grid-column: 2;
  grid-row: 3 / span 3;
}

.l1 { grid-column: 1; grid-row: 3; }
.l2 { grid-column: 1; grid-row: 4; }
.l3 { grid-column: 1; grid-row: 5; }

.r1 { grid-column: 3; grid-row: 3; }
.r2 { grid-column: 3; grid-row: 4; }
.r3 { grid-column: 3; grid-row: 5; }




.oval.center {
  position: absolute;
  width: 140px;
  height: 390px;
  background: radial-gradient(ellipse at center, #ababab 0%, #111 100%);
  border: 3px solid #0a0a0a;
  border-radius: 30% 30% 60% 60%;
  box-shadow: 0 0 25px rgba(252, 252, 252, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}


.oval.center .label {
  font-size: 1rem;
  font-weight: bold;
  color: #00000074;
  text-shadow: 0 0 5px #ffffff;
}

.oval.center .gear_value {
  font-size: 3rem;
  font-weight: bold;
  color: #f2e200;
  text-shadow: 0 0 10px #f2ff00;
}


.bar-container-left {
  left: -10px;
  border-radius: 50% 0% 0% 50%;
  transform: rotate(0deg);
  z-index: 1;
}

.bar-container-right {
  right: -10px;
  border-radius: 0% 50% 50% 0%;
  transform: rotate(0deg);
   z-index: 1;
}

/* === Individual bar segments === */
.bar-segment {
  flex: 1;
  width: 100%;
  margin: 1px 0;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.bar-segment.accel {
  background: linear-gradient(to top, #ffbb00, #707a00);
  box-shadow: 0 0 8px rgba(255, 179, 0, 0.8);
}

.bar-segment.filled.brake {
  background: linear-gradient(to top, #ff0000, #7a1000);
  box-shadow: 0 0 8px rgba(255, 0, 38, 0.8);
}


.bar-segment.blankfilled {
  background: linear-gradient(to top, #00ffb31b, #000403);
  box-shadow: 0 0 8px rgba(255, 179, 0, 0.8);
}

/* Optional glow animation for filled bars */
@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.7; }
}
